$green: #4e9110;
$blue: #4c7cba;
$pink: #e39bb5;
$orange: #cf9648;
$white: #dbdbdb;
$yellow: #d1bd66;
$cyan: #59c2c1;
$purple: #762c7a;

body, html {
  background-color: #22222a;
  color: #dbdbdb;
  // font-family: 'Archer', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
}
.clear {
  clear: both;
}
p {
  margin: 0;
}

h1 {
  text-align: center;
}
a, a:visited, .action, .action:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: #333339;
  top: 0px;
  left: 0px;
  right: 0px;

  .content {
    margin: 0 20px;
  }
  .title {
    float: left;
    height: 2em;
    font-size: 2em;
    line-height: 2em;
    font-weight: bold;
  }
  .links {
    float: right;
    a, .action {
      margin: 10px !important;
      font-size: 24px;
      float: right;
      background-color: #405060;
      color: #dbdbdb;
      display: block;
      font-weight: bold;
      padding: 7px 30px;
      text-align: center;
      text-decoration: none;
      margin: 10px auto;
      min-width: 100px;

      &.disabled {
        background-color: #444444;
        color: #666;
        cursor: default;
      }
    }
  }
}

form {
  width: 80%;
  margin: 30px auto;
}
form input.text {
  font-size: 2em;
  /* border-radius: 10px; */
  border: none;
  padding: 10px 30px;
  width: 100%;
  background-color: #333339;
  color: white;
  box-sizing: border-box;
}

#join-link, a.button, form input.submit {
  background-color: #405060;
  color: #dbdbdb;
  display: block;
  font-size: 100%;
  font-weight: bold;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin: 10px auto;
}
