body, html {
  background-color: #22222a;
  color: #dbdbdb;
  // font-family: 'Archer', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100%;

  // For single-view pages like the ScoreScreen - hide overflow so that no
  // scrollbars can appear
  &.scroll-less {
    height: 100%;
    overflow-y: hidden;
  }
}

body.red-pulse {
  animation: red-pulse 2.5s infinite;
  position: absolute;
  top: 0;
  bottom: 0;
}

@keyframes red-pulse {
  0% {
    background-color: #22222a;
  }
  50% {
    background-color: #9a1111;
  }
  100% {
    background-color: #22222a;
  }
}

.clear {
  clear: both;
}
p {
  margin: 0;
}

h1, h3 {
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}
a, a:visited, .action, .action:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

header {
  background-color: #333339;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);

  .content {
    margin: 0 20px;
  }
  .title {
    float: left;
    height: 2em;
    font-size: 2em;
    line-height: 2em;
    font-weight: bold;
  }
  .links {
    float: right;
    a, .action {
      margin: 10px !important;
      font-size: 24px;
      float: right;
      background-color: #405060;
      color: #dbdbdb;
      display: block;
      font-weight: bold;
      padding: 7px 30px;
      text-align: center;
      text-decoration: none;
      margin: 10px auto;
      min-width: 100px;
      transition: 0.3s;

      &.disabled {
        background-color: #444444;
        color: #666;
        cursor: default;
      }

      &.danger {
        background-color: #604040;
        color: #dbdbdb;
        margin-right: 200px !important;
      }
    }
  }
}

form {
  width: 80%;
  margin: 30px auto;
}
form input.text {
  font-size: 2em;
  /* border-radius: 10px; */
  border: none;
  padding: 10px 30px;
  width: 100%;
  background-color: #333339;
  color: white;
  box-sizing: border-box;
}

#join-link, a.button, form input.submit {
  background-color: #405060;
  color: #dbdbdb;
  display: block;
  font-size: 100%;
  font-weight: bold;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin: 10px auto;
}
