https://dev.drunkenfall.com

push
gzip
ext    .html
log    /var/log/access.log
proxy  /api 127.0.0.1:42001
proxy  /api/auto-updater 127.0.0.1:42001 {
	websocket
}
header /api Access-Control-Allow-Origin *

# The except part makes sure that we simply serve the static files
# rather than asking vue about them.
proxy  / 127.0.0.1:42002 {
  except /static
}
