@import "./fonts.scss";
@import "./players.scss";

// Backgrounds
$bg-bottom: #1e2124;
$bg-default: #2e3136;
$bg-default-alt: #282B30;
$bg-default-dark: #1e2124;
$bg-default-hover: #393939;
$bg-disabled: #424549;
$bg-disabled-icon: #405054;

$button-bg: #36393e;
$button-hover-bg: #434343;

$accent: #20aaaa;
$secondary: #325bb9;

$positive: #19b26b;
$warning: #db9e4e;
$danger: #c92525;

// Foregrounds
$fg-default: #fafafa;
$fg-disabled: #444;

// Shadows
$shadow-dark: rgba(0,0,0,0.7);
$shadow-default: 2px 2px 3px $shadow-dark;
$shadow-light: rgba(0,0,0,0.3);
$shadow-default: 2px 2px 3px $shadow-light;


$sidebar-width: 220px;
