#banner {
  width: 960px;
  height: 482;
  margin: 10px auto;
  display: block;
}

.match .player.gold, .match .player.silver, .match .player.bronze {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.match .player.gold {
  background-color: #daa520;
}
.match .player.silver {
  background-color: #999;
}
.match .player.bronze {
  background-color: #8C7853;

}
.match .player.out {
  color: #777;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.match .player.out:nth-child(1), .match .player.out:nth-child(4) {
  background-color: #433;
}
.match .player.out:nth-child(2), .match .player.out:nth-child(3) {
  background-color: #4a3838;
}


.match .player p.name {
  font-weight: bold;
  margin: 2px 5px;
}

.matches .control {
  display: none;
}
#control .player {
  min-height: 2.2em;
}
#control .player .name {
  margin-top: 0.3em;
  font-size: 1.5em;
}
#control .player .control-group {
  margin: 3% auto;
  height: 16%;
  width: 80%;
  position: relative;
}
#control .player .control {
  height: 16%;
  display: block;
  position: relative;
  line-height: 1.7em;
}
#control .player .control div, #control .player .control a {
  float: left;
  display: block;
  margin: 1% 0;
  height: 100%;
}
#control .player .control .count {
  width: 70%;
  background-color: #404040;
}
.shots .count, .self .count {
  background-color: #484848 !important;
}
#control .player .control .sign {
  background-color: #353535;
  width: 15%;
  cursor: pointer;
  display: block;
}
.shots .sign, .self .sign {
  background-color: #404040 !important;
}
