{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Drunken TowerFall</title>
    <meta name="description" content="Drunken TowerFall tournament manager">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css.css">
  </head>
  <body>
    <div id="header">
      <div class="content">
        {{template "header" .}}
      </div>
      <div class="clear"></div>
    </div>

    <div id="main">
      {{template "main" .}}
    </div>
  </body>
</html>
{{end}}
