{{define "main"}}
<form id="join" action="/{{.Tournament.ID}}/join" method="post">
  <input id="name" class="text" name="name" type="text" value="" placeholder="Player name"/>
  <input id="color-select" name="color" type="hidden" value=""/>

  <h2>Select your preferred archer</h2>

  <div>
    <img id="green" src="/static/img/green-unselected.png">
    <img id="blue" src="/static/img/blue-unselected.png">
    <img id="pink" src="/static/img/pink-unselected.png">
    <img id="orange" src="/static/img/orange-unselected.png">
    <img id="white" src="/static/img/white-unselected.png">
    <img id="yellow" src="/static/img/yellow-unselected.png">
    <img id="cyan" src="/static/img/cyan-unselected.png">
    <img id="purple" src="/static/img/purple-unselected.png">
  </div>

  <input id="join-submit" type="submit" class="submit" value="Go go go!"/>
</form>

<script src="/static/selector.js"></script>
{{end}}


{{define "header"}}
<a href="{{.Tournament.URL}}" class="title">
  Joining {{.Tournament.Name}}
</a>
{{end}}
