{{define "main"}}
<div class="control">
  {{ with .Match}}
  <div id="control" class="match {{.Kind}}">
    {{template "match-full" .}}
  </div>
  {{end}}
</div>
<div class="clear"></div>


{{end}}


{{define "header"}}
  <a href="{{.Match.Tournament.URL}}" class="title">
    {{.Match.Tournament.Name}}: {{.Match.Title}}
  </a>

  <div class="links">
  {{if .Match.CanStart}}
  <a class="button" href="{{.Match.URL}}/toggle">
    Start match
  </a>
  {{else if .Match.CanEnd}}
  <a class="button" href="{{.Match.URL}}/toggle">
    End match
  </a>
  {{else if .Match.IsEnded}}
  <a class="button" href="{{.Match.Tournament.URL}}">
    Back to tournament
  </a>
  </div>

{{end}}

{{end}}
