{{define "main"}}
<h1>{{.Match.Title}}</h1>

<div class="control">
  {{ with .Match}}
  <div id="control" class="match {{.Kind}}">
    {{template "match" .}}
  </div>
  {{end}}
</div>
<div class="clear"></div>

{{if .Match.IsOpen}}
  {{if .Match.IsStarted}}
     {{if .Match.CanEnd}}
       <a class="button" href="{{.Match.URL}}/toggle">
         End match
       </a>
    {{end}}
  {{else}}
    <a class="button" href="{{.Match.URL}}/toggle">
      Start match
    </a>
  {{end}}
{{else}}
<a class="button" href="{{.Match.Tournament.URL}}">
  Back to tournament
</a>
{{end}}

{{end}}
