{{define "main"}}
<h1>{{.Match.Title}}</h1>

<div class="control">
  {{ with .Match}}
  <div id="control" class="match {{.Kind}}">
    {{template "match-full" .}}
  </div>
  {{end}}
</div>
<div class="clear"></div>

{{if .Match.CanStart}}
<a class="button" href="{{.Match.URL}}/toggle">
  Start match
</a>
{{else if .Match.CanEnd}}
<a class="button" href="{{.Match.URL}}/toggle">
  End match
</a>
{{else if .Match.IsEnded}}
<a class="button" href="{{.Match.Tournament.URL}}">
  Back to tournament
</a>
{{end}}

{{end}}
