{{define "control"}}
  <div class="control {{.Key}}">
    <a href="{{.Player.URL}}/{{.Key}}/down" class="sign">-</a>

    <div class="count">{{.Value}} {{.Key}}</div>

    <a href="{{.Player.URL}}/{{.Key}}/up" class="sign">+</a>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
{{end}}

{{define "player"}}
<div id="player-{{.Index}}" class="player {{.Classes}}">
  {{if .IsPrefill}}
    <p class="name">?</p>
  {{else}}
    <p class="name">{{.Name}}</p>

    {{if .Match}}
      {{if .Match.IsOpen}}
      <div class="control-group">
        {{range .ScoreData}}
          {{template "control" .}}
        {{end}}
        <div class="clear"></div>
      </div>
      {{end}}
    {{end}}
  {{end}}
</div>
{{end}}
