{{define "player"}}
<div id="player-{{.Index}}" class="player {{.Color}}">
  {{if .IsPrefill}}
  <p class="name">?</p>
  {{else}}
  <p class="name">{{.Name}}</p>

  <div class="control kills">
    <div class="decrease">-</div>
    <div class="count">{{.Kills}} kills</div>
    <div class="increase">+</div>
  </div>
  <div class="control shots">
    <div class="decrease">-</div>
    <div class="count">{{.Shots}} shots</div>
    <div class="increase">+</div>
  </div>
  <div class="control sweeps">
    <div class="decrease">-</div>
    <div class="count">{{.Sweeps}} sweeps</div>
    <div class="increase">+</div>
  </div>
  <div class="control self">
    <div class="decrease">-</div>
    <div class="count">{{.Self}} self</div>
    <div class="increase">+</div>
  </div>
  <div class="control explosions">
    <div class="decrease">-</div>
    <div class="count">{{.Explosions}} explosions</div>
    <div class="increase">+</div>
  </div>
  {{end}}
</div>
{{end}}
