{{define "control"}}
  <div class="control {{.Key}}">
    <a href="{{.Player.URL}}/{{.Key}}/down" class="sign">-</a>

    <div class="count">{{.Value}} {{.Key}}</div>

    <a href="{{.Player.URL}}/{{.Key}}/up" class="sign">+</a>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
{{end}}

{{define "player"}}
<div id="player-{{.Index}}" class="player {{.Classes}}">
  {{if .IsPrefill}}
    <p class="name">?</p>
  {{else}}
    <p class="name">{{.Name}}</p>
  {{end}}
</div>
{{end}}


{{define "player-full"}}
<div id="player-{{.Index}}" class="player {{.Classes}}">
  <p class="name">
    {{if .Name}}
    {{.Name}}
    {{else}}
    &nbsp
    {{end}}
  </p>

  <div class="control-group">
    {{range .ScoreData}}
      {{template "control" .}}
    {{end}}
    <div class="clear"></div>
  </div>
</div>
{{end}}
