{{define "main"}}
<h1>{{.Tournament.Name}}</h1>

{{ if .Tournament.IsJoinable}}
  <a id="join-link" href="/{{.Tournament.ID}}/join">
    Join
  </a>
{{ end }}

<div class="tournament">
  <div class="category tryouts">
    <h3>Tryouts</h3>
    <div class="matches">
      {{range .Tournament.Tryouts}}
        <a id="{{.Kind}}-{{.Index}}" class="match {{.Kind}}" href="{{.URL}}">
          {{template "match" .}}
        </a>
      {{end}}
    </div>
    <div class="clear"></div>
  </div>
  <div class="category semis">
    <h3>Semi-finals</h3>
    <div class="matches">
      {{range .Tournament.Semis}}
        <a id="{{.Kind}}-{{.Index}}" class="match {{.Kind}}" href="{{.URL}}">
          {{template "match" .}}
        </a>
      {{end}}
    </div>

    {{if .Tournament.GetRunnerups}}
    <h3>Runnerups</h3>
    <div class="runnerups">
      {{range .Tournament.GetRunnerups}}
        <div class="runnerup">
          <p class="name">{{.Name}}</p>
          <p class="score">{{.Score}}p / {{.Matches}}m</p>
          <div class="clear"></div>
        </div>
      {{end}}
    </div>
    {{end}}

  </div>
  <div class="category final">
    <h3>Final</h3>
    <div class="matches">
      {{with .Tournament.Final}}
        <a id="{{.Kind}}-{{.Index}}" class="match {{.Kind}}" href="{{.URL}}">
          {{template "match" .}}
        </a>
      {{end}}
    </div>
  </div>
</div>
<div class="clear"></div>

{{ if .Tournament.IsStartable }}
  <a id="start-link" class="button" href="/{{.Tournament.ID}}/start">
    Start
  </a>
{{ else if .Tournament.IsRunning }}
  <a id="next-link" class="button" href="/{{.Tournament.ID}}/next">
    Next match
  </a>
{{ end }}

{{end}}
