{{define "main"}}
<h1>{{.Tournament.Name}}</h1>
<div class="tournament">
  <div class="category tryouts">
    <h3>Tryouts</h3>
    <div class="matches">
      {{range .Tournament.Tryouts}}
        {{template "match" .}}
      {{end}}
    </div>
    <div class="clear"></div>
  </div>
  <div class="category semis">
    <h3>Semi-finals</h3>
    <div class="matches">
      {{range .Tournament.Semis}}
        {{template "match" .}}
      {{end}}
    </div>
  </div>
  <div class="category final">
    <h3>Final</h3>
    <div class="matches">
      {{template "match" .Tournament.Final}}
    </div>
  </div>
</div>
<div class="clear"></div>
{{end}}
